In [1]:
person={"fname":['sopan','rushi','shubhya'],
       'lname':['kshirsagar','salinkhe','mhaske'],
       'mail':['lala@gmail.com','uurushi@gmail.com','shubh@gmail.com']}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(person)
df

     fname       lname               mail
0    sopan  kshirsagar     lala@gmail.com
1    rushi    salinkhe  uurushi@gmail.com
2  shubhya      mhaske    shubh@gmail.com

In [4]:
person['mail']

['lala@gmail.com', 'uurushi@gmail.com', 'shubh@gmail.com']

In [5]:
type(person['mail'])

list

In [6]:
df['mail'] #df.mail

0       lala@gmail.com
1    uurushi@gmail.com
2      shubh@gmail.com
Name: mail, dtype: object

In [7]:
type(df['mail'])

pandas.core.series.Series

In [8]:
df.count

<bound method DataFrame.count of      fname       lname               mail
0    sopan  kshirsagar     lala@gmail.com
1    rushi    salinkhe  uurushi@gmail.com
2  shubhya      mhaske    shubh@gmail.com>

In [9]:
df[['lname','mail']]

        lname               mail
0  kshirsagar     lala@gmail.com
1    salinkhe  uurushi@gmail.com
2      mhaske    shubh@gmail.com

In [10]:
df.columns #acces the column

Index(['fname', 'lname', 'mail'], dtype='object')

In [11]:
#loc and iloc  acces the row 
# df.iloc[0]
df.iloc[[0,1]] #index

   fname       lname               mail
0  sopan  kshirsagar     lala@gmail.com
1  rushi    salinkhe  uurushi@gmail.com

In [12]:
df.iloc[[0,1],2]  # row row column

0       lala@gmail.com
1    uurushi@gmail.com
Name: mail, dtype: object

In [13]:
# df.iloc[[1],0]

In [14]:
 df.loc[0] #not index specific data point name

fname             sopan
lname        kshirsagar
mail     lala@gmail.com
Name: 0, dtype: object

In [15]:
df.loc[[1,2],['mail']]

                mail
1  uurushi@gmail.com
2    shubh@gmail.com

In [16]:
dff=pd.read_csv(r'C:\Users\sopan\Downloads\stack2019\survey_results_public.csv')
dff

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [17]:
dff.shape

(88883, 85)

In [18]:
dff.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [19]:
dff['Employment']

0                   Not employed, and not looking for work
1                       Not employed, but looking for work
2                                       Employed full-time
3                                       Employed full-time
4                                       Employed full-time
                               ...
88878               Not employed, and not looking for work
88879                                                  NaN
88880                                   Employed full-time
88881    Independent contractor, freelancer, or self-em...
88882               Not employed, and not looking for work
Name: Employment, Length: 88883, dtype: object

In [20]:
dff['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [21]:
dff['Hobbyist'].value_counts() #how many yes and no

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [22]:
dff.loc[0] #periticular info of person

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [33]:
dff.loc[0:3,'Hobbyist':'Employment'] #slicing

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time